In [1]:
# Create an array containing car names:
cars = ["Ford", "Volvo", "BMW"] 

# Get the value of the first array item:
x = cars[0] 

# Modify the value of the first array item:
cars[0] = "Rolls Royace"

# Return the number of elements in the cars array:
y = len(cars) 

print(cars)
print(y)

['Rolls Royace', 'Volvo', 'BMW']
3

In [2]:
# Print each item in the cars array:
for x in cars:
  print(x)

Rolls Royace
Volvo
BMW

In [3]:
# Add one more element to the cars array:
cars.append("Honda") 

#Delete the second element of the cars array:
cars.pop(1) 

# Delete the element that has the value "Volvo":
cars = ["Ford", "Volvo", "BMW"]

cars.remove("Volvo")

print(cars)

['Ford', 'BMW']

# **Classes and Objects**

In [4]:
# Create a class named MyClass, with a property named x:
class MyClass:
  x = ["pop",5,'opp']
# Create an object named p1, and print the value of x:
p1 = MyClass()
print(p1.x)

['pop', 5, 'opp']

In [5]:
# Create a class named Person, use the __init__() function to assign values for name and age:
class bkashUser:
  def __init__(b,uid,balance):
    b.uid=uid
    b.bal= balance
U1001= bkashUser("U21",25010)
print(U1001.uid)
print(U1001.bal)

U21
25010

In [6]:
# The string representation of an object WITH the __str__() function:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"    

p1 = Person("John", 36)

print(p1)

John(36)

In [7]:
# Use the words mysillyobject and abc instead of self:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [8]:
# Set the age of p1 to 40:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

40

In [12]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

# print(p1)