# Format String
 **Use the format() method to insert numbers into strings:**

In [1]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

**The format() method takes unlimited number of arguments, and are placed into the respective placeholders:**

In [4]:
quantity = 3
itemName = "Apple"
price = 49.95
myorder = "I want {} pieces of {} for {} dollars."
print(myorder.format(quantity, itemName, price))

I want 3 pieces of Apple for 49.95 dollars.

**The escape character allows you to use double quotes when you normally would not be allowed:**

In [5]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# **Python List**

In [6]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [7]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [10]:
name= ["aaa", 'bbbbbb', 'cccccccc', 'ddddddd']
if 'cccccccc' in name:
  print("Yes, 'cccccccc' is in the name list")

Yes, 'cccccccc' is in the name list

**Insert "watermelon" as the third item:**

In [11]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

**Insert Items

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:**

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**The remove() method removes the specified item.**

**The pop() method removes the specified index.**

In [13]:
#Remove "banana":
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)
#Remove the second item:
thislist = ["apple", "banana",'kola', "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']
['apple', 'kola', 'cherry']

**Print all items by referring to their index number:**

In [14]:
name = ['llll', 'dddd', 'llllp', 'ljvdkgfj']
for i in name:
  print(name) 
  #haha wrong things that i am not expected.

['llll', 'dddd', 'llllp', 'ljvdkgfj']
['llll', 'dddd', 'llllp', 'ljvdkgfj']
['llll', 'dddd', 'llllp', 'ljvdkgfj']
['llll', 'dddd', 'llllp', 'ljvdkgfj']

In [15]:
name = ['llll', 'dddd', 'llllp', 'ljvdkgfj']
for i in name:
  print(i)

llll
dddd
llllp
ljvdkgfj

**Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:**

In [16]:
fol = ['kola','apel','jaam','aam','lichu']
notunlist =[]

for x in fol:
  if 'a' in x:
    notunlist.append(x)
print(notunlist)

['kola', 'apel', 'jaam', 'aam']

**Sort List**

In [17]:
#Reverse the order of the list items:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

*** Sort the list numerically:***

In [18]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
#Sort the list descending:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

**Make a copy of a list with the copy() method:**

In [19]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

**Append list2 into list1:**

In [20]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]